/*General*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

    a:focus-visible, input:focus-visible {
      outline: 2px solid oklch(60% 0.15 210); 
    }

    a:hover, input[type="submit"]:hover{
       
        border-color: black;
    }

    a{
      text-decoration: none;
      border-radius: 5px;
    }

main{
  flex: 1;
}
html{
  height: 100%;
}
/*Fuentes y texto*/
  .titulo-centrado{
    text-align: center;
    padding: 1%;
  }

  .aviso-off{
    display: none;
  }

  .aviso-on{
    display: inline;
    color: red;
  }
  
/*Background*/

body{
    background-color:#d3eaf2;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  

  /*Elementos del Login*/
  .header-login{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-login{
    text-align: center;
  }

  
  .form{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
  .item-form{
    padding: 1%;
    margin: 0.5%;
  }

  .form-login input[type="submit"]{
    min-width: 200px;
    width:40% ;
  }

  .form-login input{
    border-radius: 5px;
    
  }
  /*Header y nav*/
  header {
    background-color: #333;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
  height: 100px;
}

.user{
  height: 50px;
}
nav {
    display: flex;

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 15px;
    
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding:5px;
}
nav ul li a:hover {
    color: #f4b400;
}

/*Main admin*/

.text-admin{
  padding-top: 20px;
  text-align: center;
}

.form-container-productos{
  display: none;
  margin: 15px auto;
}

.hr-separador{
  margin: 15px auto;
}

.button-forms{
  padding: 10px;
}
.form-container-productos input[type="submit"]{
  padding:10px;
}

/*Footer*/

footer {
  background-color: #333;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.contact-info li {
    margin-bottom: 5px;
}
.social-icons {
    margin-top: 10px;
}
.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}