/*General*/

/*
Se le asigna a todos los elementos margen y padding 0px y se aplica box-sizing para poder manejar más facil 
el contenido al agregar los bordes y padding a las medidas de cajas.
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/*
Se modifica el elemento hr para que no ocupe toda la pantalla, este centrado 
y tenga un degrade(linear-gradient) con extremos invisibles
*/
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*
Se modifica el outline de los elementos a e input para que al momento de ser seleccionados
se muestre un bordes redondeados solidos de 2px de ancho, y se selecciona el color mediante la función oklch 
seleccionando la luminosidad(l), la saturación(c), y el tono de color en grados(h) o numero.
*/
    a:focus-visible, input:focus-visible {
      outline: 2px solid oklch(60% 0.15 210); 
      border-radius: 5px;
    }

    a:hover, input[type="submit"]:hover{
      border-radius: 5px;
        border-color: black;
    }

    a{
      text-decoration: none;
      border-radius: 5px;
    }
/*
Se le asigna a main una propiedad flex de 1 para que ocupe la parte central del documento
*/
main{
  flex: 1;
}
/*Scroll behavior en el html para que las transiciones sean suaves en la página*/
html, body{
  height: 100%;
  scroll-behavior: smooth;
}

/*Fuentes y texto*/
  .titulo-centrado{
    text-align: center;
    padding: 1%;
  }

  /*
  Aviso off y se declaran para aplicar con Javascript
  */
  .aviso-off{
    display: none;
  }

  .aviso-on{
    display: inline;
    color: red;
  }
  /*
  Se crea esta clase para crear un margen superior del tamaño del header si es necesario para no superponer elementos.
  */
  .comienzoPagina{
    margin-top: 124px;
  }

/*Background*/
/*
Se coloca un color al body celeste claro, el display flex con direccion columna y con espaciado entre elementos
La idea es empujar el footer para abajo y el header hacia arriba mientras el main ocupa la parte central.
*/
body{
    background-color:#d3eaf2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  

  /*Elementos del Login*/
/*
Se crea un form de login que ocupa un 65% del ancho y se centra, a su vez como contenedor dispone a sus elementos hijos
en formato flex de direccion columna se realiza un centrado "perfecto" con align-items y justify-content en center.
*/
  .form{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .item-form{
    padding: 1%;
    margin: 0.5%;
  }

  .form input[type="submit"]{
    margin-top: 15px;
    width: 20%;
  }

  /*Header y nav*/

  /*
  Se aplica un background en degrade al header aumentando la transparencia al acercarse al contenido central,
  Se le asigna formato flex, por defecto en direccion row, se situa en el margen superior izquierdo con top y left 0,
  Se determina una altura de 124px, que utilice todo el ancho de la página, se le agrega un box-shadow para darle
  difuminado extra y por las dudas se lo trae al frente con z-index 1000, se declara una posición fixed para que siga
  el scroll del usuario.
  */
  header {
    background:linear-gradient(180deg, rgba(0,0,0,0.8),rgba(0,0,0,0.4));
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 124px; /* Altura del header */
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
}
.logo img {
  height: 100px;
}

.user{
  height: 50px;
  transition: all 0.2s ease-in;
}
.user-carrito{
  height: 50px;
}
.user:hover{
  transform: translateY(-7px);
}

/*
Para la navegación, se declara flex al contenedor y la lista, sin  estilo para las listas.
Se agrega una propiedad transition de color para que al realizar el hover sobre el elemento
se de una transición de color con un breve delay
*/
nav {
    display: flex;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 15px;
    
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding:15px;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #f4b400;
}

/*
Para separar los elementos referentes al usuario(Carrito, login y logout) y a los de navegación
*/
#nav-parte-dos{
  margin-left: 120px;
}

/*Main admin*/

.text-admin{
  padding-top: 20px;
  text-align: center;
}
/*Estilo para los form de productos y categorias*/
.form-container-productos{  
  display: block;
  margin: 15px auto;
}
.form-container-productos h3{
  margin-bottom: 15px;
}
.form-container-productos div{ 
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 30%;
}

.hr-separador{
  margin: 15px auto;
}

.button-forms{
  padding: 10px;
}

.form-container-productos input{
  width: 100%;
  padding: 6px 10px;
}
.form-container-productos select{
  width: 100%;
  padding: 6px 20px;
}
.form-container-productos input[type="submit"]{
  padding:10px;
}

.form-item label{
  width: 100%;
  display: block;
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 3px;
}

/*Header tabla listar*/
.header-lista{
  margin-top: 124px;
  display: flex;
  justify-content: space-between;
}
/*Tabla listar*/
.container-listar{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.container-listar h1{
  margin-bottom: 20px;
}
.tabla-listar table{
  width: 100%;
  border-collapse: collapse;
}

.tabla-listar th, td {
  padding: 10px;
  text-align: left;
}
.tabla-listar tr:nth-child(even) {
  background-color: #70e8d4;
}
.tabla-listar tr:nth-child(odd) {
  background-color: #70c0e8;
}
.tabla-listar th {
  background-color: #e6e6e6;
  
}

/*Se determina un tamaño de imagen de vista previa*/
.img-thumbnail {
  width: 50px; 
  height: 50px; 
  object-fit: cover; /* Para no distorsionar */
  margin: 5px; 
  border-radius: 5px; 
}

/*Para que a medida que se van agregando imagenes se comporte de manera flex*/
.td-imagenes {
  display: flex;
  flex-wrap: wrap;
}

.td-imagenes img {
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination a {
  margin: 0 5px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #000;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover {
  background-color: #ddd;
}

/*Footer*/

/*
Similar al header pero en el footer
*/
footer {
  background:linear-gradient(180deg, rgba(0,0,0,0.4),rgba(0,0,0,0.8));
  color: white;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
  width: 100%;
  bottom: 0;
}

/*
Se le saca el estilo a las listas utilizadas
*/
.contact-info {  
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 5px;
}
/*
Se coloca los inline block a los elementos a del footer para que tengan apariencia de botones.
Se coloca una transicion de estilo all(varios cambios) para al realizar el hover cambie de color de fondo
y se "levante ligeramente" de manera "suave" 
*/
.contact-info a{
  display: inline-block;
  padding: 7px;
  text-decoration: none;
  color:skyblue;
  transition: all 0.3s ease-in;
}
.contact-info a:hover{
  text-decoration: none;
  transform: translateY(-3px);
  background-color: #70c0e8;
  color: darkblue;
}
.social-icons {
    margin-top: 10px;
   
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons img{
  transition: all 0.2s ease-in;
}
.social-icons img:hover{
  transform: translateY(-10px);
}

/*Perfil de usuario*/

/* Estilos para el contenedor principal */
.container {
  display: flex;
  height: calc(100vh - 124px);
}

/* Barra de navegación lateral perfil usuario */
.sidebar {
  background-color: #8dc0fa;
  color: white;
  width: 250px;
  padding: 15px;
}

.sidebar h3 {
  margin-bottom: 20px;
}
/*Dos efectos de transición, uno para el fondo y otro para el color de la letra*/
.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  background-color: #444;
  border-radius: 5px;
  transition: background-color 0.3s;
  transition: color ease 0.3s;
}

.sidebar a:hover {
  background-color: #555;
  color:#f4b400 ;
}

/* Estilo para el contenido principal */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color:#d3eaf2;
}

.main-content h1 {
  margin-top: 0;
}

/* Pagina principal/index */

/*La clase hero se le asigna un espacio de 400px de ancho, con estilo flex y alineación perfecta(align-items
 y justify-content center), se le asigna un filter a la caja con la función drop shadow
 para agregar un sombrado externo*/
.hero {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  margin-bottom: 0px;
}

/*Se utiliza el seudoelemento ::before para colocar la imagen de fondo, con sombra interna utilizando box-shadow inset*/
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/hero-back.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  box-shadow: inset 0 0 350px rgba(0, 0, 0, 0.8); /* Sombra interna */
  
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero h3{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.hero p{
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.hero-item{
  margin-right: 30px;
  background-color: #d3eaf2ad;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
}

.hero-shot{
  width:250px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 0.85;
}

/*
Estilo para convertir los elementos a en botones, o look-alike, cambia el cursor a pointer(manito)
*/
.btn {
  display: inline-block; 
  text-decoration: none; 
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  color: white;
  margin: 10px;
}
.btn.listar {
  background: linear-gradient(135deg, #2b8600, #39b102);
}
.btn.listar:hover {
  background: linear-gradient(135deg, #39b102, #2b8600);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.btn.modificar {
  background: linear-gradient(135deg, #ee9d07, #976200);
}
.btn.modificar:hover {
  background: linear-gradient(135deg, #976200, #ee9d07);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.btn.eliminar {
  background: linear-gradient(135deg, #ee0707, #970000);
}
.btn.eliminar:hover {
  background: linear-gradient(135deg, #970000, #ee0707);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.btn.registrarse {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.btn.registrarse:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  transform: translateY(-3px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


.btn.loguearse {
  background-color: #f45d22;
}

.btn.loguearse:hover {
  background-color: #ff7e36;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Botón de Productos con borde y transparencia, al realizar el hover se rellena el background del boton */
.btn.productos {
  background-color: transparent;
  border: 2px solid #00b894;
  color: #00b894;
}

.btn.productos:hover {
  background-color: #00b894;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.botones-container {
  margin-top: 20px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  gap: 200px;
}

/*Seccion ofertas*/
section {
  padding: 50px 20px;
  text-align: center;
}

.carrusel h2{
  padding-bottom: 50px;
}
.carrusel {
  background-color: #2c2b2b65;
}
/*Se coloca overflow hidden para manegar con javascript el desplazamiento del contenido*/
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 15px;
}

.precio-cancel-oferta{
  color: red;
  text-decoration: line-through;
}

.precio-oferta{
  color: green;
  font-size: large;
}

/* Sección de categorías */
#categorias {
  text-align: center;
  padding: 40px;
  
}

/*Se coloca overflow hidden para manegar con javascript el desplazamiento del contenido
,se utiliza todo el ancho de caja*/
.categorias-carrusel {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
}

/*Se coloca scroll smooth para suavizar el desplazamiento 
y scrollbar width none para eliminar la barra de desplazamiento*/
.categorias-container {
  display: flex;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 25px;
  overflow-x: scroll;
  width: 100%;
  padding: 20px 0;
}

.categoria-item {
  width: 340px;
  height: 240px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

  flex: 0 0 auto; /* Evita que se encojan o crezcan los items*/
}

/*Al realizar hover sobre un item se le coloca opacidad 1 mostrando el texto,
 a su vez se levanta el item y se le reduce la opacidad para hacer un efecto de trasluz*/
.categoria-item:hover .img-categoria{
  transform: translateY(-3px);
  filter: drop-shadow();
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  filter:opacity(60%);
}

.categoria-item:hover .txt-categoria{
  opacity: 1;
}

.txt-categoria{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease; 
}
.img-categoria{
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Botones de navegación */
/*
Se colocan centrados mediante top 50% y translateY-50% para centrar nuevamente,
se le pone cursor pointer y se traen hacia adelante con el z-index 
*/
.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 25%;
  z-index: 10;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}

.carrusel-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


/*Pagina de productos.*/
.main-container-prod{
  display: flex;
}

/* Sección lateral de categorías */
/*
Se le coloca un min-height para evitar que cuando hayan pocos productos
no queden espacios en blanco.
*/
.sidebar-productos {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 250px;
  align-self: flex-start;
  height: calc(100% - 124px );
  min-height: calc(100% - 124px );
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  position: sticky;
  overflow-y: auto;
  top: 124px;
}

.sidebar-productos h2 {
  margin-top: 0;
}

.sidebar-productos hr {
  border: 1px solid #555;
}

.category-list {
  display: flex;
  flex-direction: column;
}

.category-list a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
  transition: color 0.3s ease;
}

.category-list a:hover {
  color: #f4b400;
  text-decoration: underline;
}

/* Sección de productos */
.products {
  flex: 1;
  padding: 20px;
  margin-top: 124px;
  min-height: calc(100vh - 80px);
}

.products h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sort-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/*
Para los productos se utiliza un display grid con 3 elementos por fila
*/
.product-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-item-container{
  display: block;
  text-decoration: none;
  color: #000;
  
}

.product-item-ofertas{
  display: block;
  text-decoration: none;
  color: #000;
  margin: 10px 15px;
}

.product-item {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.4s ease-in-out;
  
}

.product-item:hover{
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.product-item h3 {
  margin: 10px 0;
}

.product-item p {
  
  font-size: 18px;
}



/* Imagen del producto */
.product-image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/*
 Se utiliza opacity 0 para la imagen hover, luego al hacer hover se revierten las
 opacidades para mostrar la imagen por defecto
*/
.product-image .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product-image:hover .hover-img {
  opacity: 1;
}

.product-image:hover .default-img {
  opacity: 0;
}

/*Single Product*/
.single-product-main{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.single-product-container {
  display: flex;
  gap: 40px;
}

.single-product-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-product-images .main-image img {
  width: 500px;
  height: 400px;
  object-fit: contain;
  border-radius: 5px;
}

.thumbnail-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail-images img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.single-product-details {
  max-width: 400px;
}

.single-product-details h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.precio-producto {
  font-size: 20px;
  margin-bottom: 10px;
}

.cantidad-producto {
  margin-bottom: 20px;
}

.add-to-cart {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out
}

.add-to-cart:hover{
  color: black;
  background-color: #1cec09;
  transform: translateY(-7px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.descripcion-single-product h2 {
  margin-bottom: 10px;
}

.categoria-s-producto{
  margin-top: 20px;
  font-weight: bold;
}

.categoria-s-producto a{
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: black;
  border: solid #000 1px;
  background-image: linear-gradient(135deg, #2bbfe4,#eaecc6);
  transition: all 0.3s ease-in;
}

.categoria-s-producto a:hover{
  transform: translateY(-5px);
  background-image: linear-gradient(135deg,#eaecc6, #2bbfe4);
}

/*Carrito de compras*/
.cart-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  width: 90%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.cart-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.cart-items {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.cart-item img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.product-details h2 {
  font-size: 18px;
  color: #555;
  margin-bottom: 5px;
}

.precio-cart {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.oferta-descuento{
  color: rgb(21, 173, 95);
 
}
.precio-cancel-carrito{
  color: #686767;
  text-decoration: line-through;
}
.cantidad-cart {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.cantidad-cart input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.remove-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.resumen-cart {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.resumen-cart h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.item-resumen {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 18px;
}

.precio-cart-total {
  font-weight: bolder;
  color: #202020;
}

.checkout-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.checkout-btn:hover {
  background-color: #219150;
}

.cart-widget{
  position: relative;
    display: inline-block;
    transition: all 0.3s ease-in;
}
.cart-contador {
  position: absolute;
  top: 15px;
  right: 22px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
  
}
.cart-widget:hover{
  transform: translateY(-10px);
}
/*
Mensajes de error y acierto
*/

.mensaje {
  padding: 50px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 80%;
  box-shadow: 0 20px 100px rgba(0, 0, 0, 0.9); 
}

.mensaje-exito {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.mensaje-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Nosotros*/

.nosotros{
  margin-top: 124px;
  text-align: center;
    padding: 2rem;
    background-color: #333;
    color: #fff;
}

.nosotros h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.nosotros p {
    font-size: 1.2rem;
    font-weight: 300;
}

.nosotros-section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nosotros-section h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

.nosotros-section p {
    font-size: 1rem;
    color: #555;
}

.valores-list {
    list-style: none;
    padding: 0;
}

.valores-list li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.valores-list strong {
    color: #444;
}


/* Seccion de contacto */
.contact-section {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #333;
  outline: none;
}

.contact-form input[type="submit"] {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: #000;
  background-color: #5ec5f8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
  background-color: #2baef0;
}
